{{define "full_layout"}}

<div id="current_tags" hx-swap-oob="innerHTML" class="flex gap-4 flex-wrap">
    {{range .Tags}}
    <span class="bg-neutral-800 text-white px-3 py-1 rounded whitespace-nowrap cursor-pointer"
          hx-post="/tagDelete"
          hx-trigger="click"
          hx-include="[name='current_tags'], [name='current_query']"
          hx-vals='{"delete_tag": "{{.}}"}'>
        {{.}}
    </span>
    {{end}}
</div>

<input type="hidden" name="current_tags" id="current_tags_hidden" 
        hx-swap-oob=true
        value='{{json .Tags}}' />

{{template "query_actions" .}}
{{end}}