code .language-javascript code {
    padding: 0 !important;
}

.hljs {
    white-space: pre-wrap; /* Preserves formatting and wraps code */
    word-wrap: break-word; /* Ensures long words wrap properly */
  }
  