{{define "query_actions"}}

<div id="seach_found_title" hx-swap-oob="innerHTML">
    {{range .TitleMatches}}
        <div class="p-1 pl-4 mt-2 border-l-2 border-neutral-800">
            <div class="flex items-center justify-between">
                <a href="/doc?file={{.FilePath}}" class="cursor-pointer text-l font-bold hover:text-red-500">
                    {{trimBackticks .Title}}
                </a>
                <div class="border-b border-neutral-700 flex-grow mx-4 min-w-[4rem]"></div>
                <div class="inline-flex flex-wrap gap-2 justify-end">
                    {{range .Tags}}
                    <span 
                        class="cursor-pointer ml-1 px-2 py-1 text-sm text-gray-300 bg-neutral-800 rounded"
                        hx-post="/tagPost"
                        hx-trigger="click" 
                        hx-vals='{"new_tag": "{{.}}"}'
                        hx-include="[name='current_tags'], [name='current_query']"
                    >{{.}}</span>
                    {{end}}
                </div>
            </div>
        </div>
    {{end}}
</div>

<div id="seach_content_title" hx-swap-oob="innerHTML">
    {{range .ContentMatches}}
        <div class="p-1 pl-4 mt-2 border-l-2 border-neutral-800">
            <div class="flex items-center justify-between">
                <a href="/doc?file={{.FilePath}}" class="cursor-pointer text-l font-bold hover:text-red-500">
                    {{trimBackticks .Title}}
                </a>
                <div class="border-b border-neutral-700 flex-grow mx-4 min-w-[4rem]"></div>
                <div class="inline-flex flex-wrap gap-2 justify-end">
                    {{range .Tags}}
                    <span 
                        class="cursor-pointer ml-1 px-2 py-1 text-sm text-gray-300 bg-neutral-800 rounded"
                        hx-post="/tagPost"
                        hx-trigger="click" 
                        hx-vals='{"new_tag": "{{.}}"}'
                        hx-include="[name='current_tags'], [name='current_query']"
                    >{{.}}</span>
                    {{end}}
                </div>
            </div>
        </div>
    {{end}}
</div>

{{end}}
